// babel.config.js
//.babel.rc is a json file thal allows all the argument
{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-class-properties",
    "transform-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
